<div id="favorite_form-<%= @micropost.id %>">
  <% if current_user.favoriting?(@micropost) %>
    <%= render 'users/unfavorite' %>
  <% else %>
    <%= render 'microposts/favorite' %>
  <% end %>
</div>